body {
  padding-top: 60px;
  background-color: #f8f8f8 !important;
}


.navbar-default {
  background-color: #fff !important;
}

.navbar-brand {
  color: #404040 !important;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player {
  width: 300px;
  margin: 6px;
  padding: 16px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  background-color: #fff;
}

.player[disabled] {
  opacity: .6;
}

.player-name {
  font-size: 1.3em; 
  color: rgb(66, 139, 202);
  overflow: hidden;
}

.player-money {
  font-size: 1.1em;
  overflow: hidden;
}

.form-group,
.player-name,
.player-money {
  margin-bottom: 8px !important;
}

.history {
  margin: 0 auto;
  max-width: 800px;
}

.history-element {
  margin-bottom: 10px !important;
  text-align: center;
}